<h2>Welcome to Ruby on Rails Stimulus SaaS!</h2>
<p class="lead">Starter SaaS preconfigured boilerplate with Bootstrap 5, Devise, Noticed<br />
  Announcements, Madmin, Stimulus JS/Reflex and Action Cable/Cable Ready.</p>
<div data-controller="hello">
  <h1 data-target="hello.output"></h1>
  </div>


