
<div class="center jumbotron mt-5 mb-5">
  <div class="container">
    <div class="centerfy">
      <h1 class="mt-3">Welcome to Stimulus SaaS!</h1>
      <p class="lead">A Ruby On Rails Template with preinstalled often needed features ready to build
       </p>
    </div>
  </div>
</div>